<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div>
                    <div>
                        <app-graficodona [ChartLabels]="graficos.grafico1.labels" [ChartData]="graficos.grafico1.data" [ChartType]="graficos.grafico1.type" [ChartLeyenda]="graficos.grafico1.leyenda"></app-graficodona>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div>
                    <div>
                        <app-graficodona [ChartLabels]="graficos.grafico2.labels" [ChartData]="graficos.grafico2.data" [ChartType]="graficos.grafico2.type" [ChartLeyenda]="graficos.grafico2.leyenda"></app-graficodona>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div>
                    <div>
                        <div>
                            <app-graficodona [ChartLabels]="graficos.grafico3.labels" [ChartData]="graficos.grafico3.data" [ChartType]="graficos.grafico3.type" [ChartLeyenda]="graficos.grafico3.leyenda"></app-graficodona>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div>
                    <div>
                        <div>
                            <app-graficodona [ChartLabels]="graficos.grafico4.labels" [ChartData]="graficos.grafico4.data" [ChartType]="graficos.grafico4.type" [ChartLeyenda]="graficos.grafico4.leyenda"></app-graficodona>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>